.quick__order--container{
    border-left: 1px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick__order--form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick__order--label{
    font-size: 14px;
}

.quick__order--input{
    border-radius: 10px;
    border: 1px solid #f8971d;
    min-height: 38px;
    min-width: 190px;
}

.quick__order--btn{
    border-radius: 10px;
    min-height: 33px;
    min-width: 206px;
    background: #f8971d;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}